
h1, h2, h3{
    font-weight: 600;
}

body{
    background-color: white !important;
}

nav{
    background-color:silver!important;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.0px);
    -webkit-backdrop-filter: blur(3.0px);
}

.navbar-brand{
    font-weight: bold;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding:0;
    z-index: 100;
    background-color: var(--color-white);
    justify-content: space-between;
    align-items: center;
}


h1.backjudul{
    font-size: 3.5rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: -50px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.173));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: var(--color-black);
}

h1.judul{
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 48px;
    color: darkorange;
}



.accordion-body h5{
   border: none;
}
.accordion-body img{
    width: 350px;
    position: relative;
    border-radius: 16px;
    float: left;
    padding-right: 2rem;
}

.btn{
    background-color: darkgray;
    color: black;
    font-weight: 500;
    border: none;
}

.btn:hover{
    background-color: orange;
    color: black;
    font-weight: 500;
    border: none;
}

.card{
    background-color: rgb(219, 219, 219) !important;
}

h1.backbasic{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: -50px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.173));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h1.basic{
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 48px;
    color: yellow;
}

.nav-item > .active{
    color: orange !important;
    font-weight: bold;
    background-color: darkgrey !important;
    border-radius: 16px;
}

.nav-link:hover{
    color: orange !important;
    font-weight: bold;
}

[data-bs-theme="dark"] nav {
    background-color: grey !important;
}

[data-bs-theme="dark"] h1.judul {
    color: yellow !important;
}

[data-bs-theme="dark"] h1.backjudul{
    font-size: 3.5rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: -50px;
    background-image: linear-gradient(to top, rgba(199, 199, 199, 0), rgba(203, 203, 203, 0.173));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

[data-bs-theme="dark"] h1.backbasic{
    font-size: 3.5rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: -50px;
    background-image: linear-gradient(to top, rgba(199, 199, 199, 0), rgba(203, 203, 203, 0.173));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h5.deskripsi{
    text-align: center;
    margin-top: 50px;
}

.brand:hover{
    width: 400px;
    height: 400px;
    border: none;
}

.card img{
    transition: 0.5s;
}

.card:hover img{
    transform: scale(1.1);
}

.container-fluid img{
    width: 50px;
    height: 50px;
    border-radius: 16px;
    margin-right: 10px;
}

.carousel-inner{
    border-radius: 16px;
}

.container-custom{
    background-color: rgb(189, 189, 189);
    border-radius: 16px;
}

[data-bs-theme="dark"] .container-custom{
        background-color: rgb(63, 63, 63);
        border-radius: 16px;
}

h1.btn-judul{
    color: orange;
    font-size:large;
}

h1.btn-judul1{
    color: orangered;
    font-size: large;
}